@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Boleto -  Yönetim Sistemi</title>

    <link rel="shortcut icon" href="/assets/images/favicon.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

    @RenderSection("Styles", required: false)

    <link rel="stylesheet" href="/assets-admin/plugins/global/plugins.bundle.css" type="text/css" />
    <link rel="stylesheet" href="/assets-admin/css/style.bundle.css" type="text/css" />
</head>
<body id="kt_app_body" data-kt-app-page-loading-enabled="true" data-kt-app-page-loading="on" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">

    @await Html.PartialAsync("AdminLayout/Scripts")

    <div class="page-loader flex-column">
        <span class="spinner-border text-primary" role="status"></span>
        <span class="text-muted fs-6 fw-semibold mt-5" id="span-loading">Lütfen Bekleyin...</span>
    </div>

    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">

            @await Component.InvokeAsync("AdminHeader")

            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                @await Component.InvokeAsync("AdminSidebar")

                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        @RenderBody()
                    </div>

                    @await Component.InvokeAsync("AdminFooter")
                </div>
            </div>
        </div>
    </div>

    <script src="/assets-admin/plugins/global/plugins.bundle.js"></script>
    <script src="/assets-admin/js/scripts.bundle.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
