<section class="banner-section">
    <div class="banner-bg bg_img bg-fixed" data-background="/assets/images/banner/banner01.jpg"></div>
    <div class="container">
        <div class="banner-content">
            <h1 class="title cd-headline clip">
                <span class="color-theme cd-words-wrapper p-0 m-0">
                    <b class="is-visible">Filmler</b>
                    <b>Etkinlikler</b>
                </span> için
                <span class="d-block"> biletinizi ayırtın</span>
            </h1>
            <p>Kolay ve Güvenli Online Bilet Rezervasyonu ile Etkinlikler Sizi Bekliyor!</p>
        </div>
    </div>
</section>